<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>DanhGiaDRL</display-name>
  <welcome-file-list>
    <welcome-file>sinh-vien</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SVLogin</servlet-name>
    <servlet-class>controller.sinhvien.SinhVienLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SVLogin</servlet-name>
    <url-pattern>/sinh-vien</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SVCapNhatTTCN</servlet-name>
    <servlet-class>controller.sinhvien.SinhVienCapNhatThongTinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SVCapNhatTTCN</servlet-name>
    <url-pattern>/sinh-vien/thong-tin-ca-nhan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SVDanhGia</servlet-name>
    <servlet-class>controller.sinhvien.SinhVienDanhGiaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SVDanhGia</servlet-name>
    <url-pattern>/sinh-vien/danh-gia</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SVKetQuaDanhGia</servlet-name>
    <servlet-class>controller.sinhvien.SinhVienKetQuaDanhGiaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SVKetQuaDanhGia</servlet-name>
    <url-pattern>/sinh-vien/ket-qua-danh-gia</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SVCapNhatDanhGia</servlet-name>
    <servlet-class>controller.sinhvien.SinhVienCapNhatDanhGiaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SVCapNhatDanhGia</servlet-name>
    <url-pattern>/sinh-vien/cap-nhat-danh-gia</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SVXemCTDG</servlet-name>
    <servlet-class>controller.sinhvien.SinhVienXemChiTietDanhGiaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SVXemCTDG</servlet-name>
    <url-pattern>/sinh-vien/ket-qua-danh-gia/chi-tiet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SVLogout</servlet-name>
    <servlet-class>controller.sinhvien.SinhVienLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SVLogout</servlet-name>
    <url-pattern>/sinh-vien/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LTDSDanhGia</servlet-name>
    <servlet-class>controller.sinhvien.LopTruongDanhSachDanhGiaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LTDSDanhGia</servlet-name>
    <url-pattern>/sinh-vien/tap-the-lop/danh-sach</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LTDanhGia</servlet-name>
    <servlet-class>controller.sinhvien.LopTruongDanhGiaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LTDanhGia</servlet-name>
    <url-pattern>/sinh-vien/tap-the-lop/danh-gia</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LTDuLieuDanhGia</servlet-name>
    <servlet-class>controller.sinhvien.LopTruongDuLieuDanhGiaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LTDuLieuDanhGia</servlet-name>
    <url-pattern>/sinh-vien/tap-the-lop/du-lieu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LTDuLieuInAn</servlet-name>
    <servlet-class>controller.sinhvien.PdfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LTDuLieuInAn</servlet-name>
    <url-pattern>/sinh-vien/tap-the-lop/in-an</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GiangVienLogin</servlet-name>
    <servlet-class>controller.giangvien.GiangVienLoginSetvlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiangVienLogin</servlet-name>
    <url-pattern>/giang-vien</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GVThongTinCaNhan</servlet-name>
    <servlet-class>controller.giangvien.GiangVienCapNhatThongTinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GVThongTinCaNhan</servlet-name>
    <url-pattern>/giang-vien/thong-tin-ca-nhan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GVCNXNDRL</servlet-name>
    <servlet-class>controller.giangvien.GVCNDSXacNhanDRLServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GVCNXNDRL</servlet-name>
    <url-pattern>/giang-vien/gvcn/danh-sach-xac-nhan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GVXemChiTietDG</servlet-name>
    <servlet-class>controller.giangvien.GiangVienXemChiTietDanhGiaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GVXemChiTietDG</servlet-name>
    <url-pattern>/giang-vien/xem-chi-tiet-danh-gia</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GVCNDuLieuDG</servlet-name>
    <servlet-class>controller.giangvien.GVCNDulieuDanhGiaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GVCNDuLieuDG</servlet-name>
    <url-pattern>/giang-vien/gvcn/du-lieu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GVCNDuLieuInAn</servlet-name>
    <servlet-class>controller.giangvien.GVCNPdfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GVCNDuLieuInAn</servlet-name>
    <url-pattern>/giang-vien/gvcn/in-an</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TruongKhoaDuLieuInAn</servlet-name>
    <servlet-class>controller.giangvien.TruongKhoaPdfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TruongKhoaDuLieuInAn</servlet-name>
    <url-pattern>/giang-vien/truong-khoa/in-an</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TruongKhoaDuLieuDG</servlet-name>
    <servlet-class>controller.giangvien.TruongKhoaDuLieuDanhGiaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TruongKhoaDuLieuDG</servlet-name>
    <url-pattern>/giang-vien/truong-khoa/du-lieu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TKXNDRL</servlet-name>
    <servlet-class>controller.giangvien.TruongKhoaXacNhanDRLServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TKXNDRL</servlet-name>
    <url-pattern>/giang-vien/truong-khoa/danh-sach-xac-nhan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GVLogout</servlet-name>
    <servlet-class>controller.giangvien.GiangVienLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GVLogout</servlet-name>
    <url-pattern>/giang-vien/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>phong-ctsv-danhsach-ketqua</servlet-name>
    <servlet-class>controller.phongctsv.PhongCTSVDanhSachKetQua</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>phong-ctsv-danhsach-ketqua</servlet-name>
    <url-pattern>/phong-ctsv/danhsach-ketqua</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>phong-ctsv-danhsach-ketqua-xacnhan</servlet-name>
    <servlet-class>controller.phongctsv.PhongCTSVXacNhanDanhGia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>phong-ctsv-danhsach-ketqua-xacnhan</servlet-name>
    <url-pattern>/phong-ctsv/xacnhan-danhgia</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CTSVXemCTDG</servlet-name>
    <servlet-class>controller.phongctsv.PhongCTSVXemChiTietDanhGiaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CTSVXemCTDG</servlet-name>
    <url-pattern>/phong-ctsv/chi-tiet-danh-gia</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CTSV-DanhSach-DotDanhGia</servlet-name>
    <servlet-class>controller.phongctsv.DanhSachDotDanhGiaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CTSV-DanhSach-DotDanhGia</servlet-name>
    <url-pattern>/phong-ctsv/ds-dot-danh-gia</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CTSV-Them-DotDanhGia</servlet-name>
    <servlet-class>controller.phongctsv.ThemDotDanhGiaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CTSV-Them-DotDanhGia</servlet-name>
    <url-pattern>/phong-ctsv/them-dot-danh-gia</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CTSV-Sua-DotDanhGia</servlet-name>
    <servlet-class>controller.phongctsv.SuaDotDanhGiaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CTSV-Sua-DotDanhGia</servlet-name>
    <url-pattern>/phong-ctsv/sua-dot-danh-gia</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CTSV-DS-khoa</servlet-name>
    <servlet-class>controller.phongctsv.DanhSachKhoaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CTSV-DS-khoa</servlet-name>
    <url-pattern>/phong-ctsv/ds-khoa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CTSV-Sua-khoa</servlet-name>
    <servlet-class>controller.phongctsv.SuaKhoaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CTSV-Sua-khoa</servlet-name>
    <url-pattern>/phong-ctsv/sua-khoa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CTSV-Them-khoa</servlet-name>
    <servlet-class>controller.phongctsv.ThemKhoaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CTSV-Them-khoa</servlet-name>
    <url-pattern>/phong-ctsv/them-khoa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CTSV-DS-Lop</servlet-name>
    <servlet-class>controller.phongctsv.DanhSachLopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CTSV-DS-Lop</servlet-name>
    <url-pattern>/phong-ctsv/ds-lop</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CTSV-Them-Lop</servlet-name>
    <servlet-class>controller.phongctsv.ThemLopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CTSV-Them-Lop</servlet-name>
    <url-pattern>/phong-ctsv/them-lop</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CTSV-Sua-Lop</servlet-name>
    <servlet-class>controller.phongctsv.SuaLopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CTSV-Sua-Lop</servlet-name>
    <url-pattern>/phong-ctsv/sua-lop</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>phong-ctsv-danhsach-giangvien</servlet-name>
    <servlet-class>controller.phongctsv.PhongCTSVDanhSachGiangVien</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>phong-ctsv-danhsach-giangvien</servlet-name>
    <url-pattern>/phong-ctsv/danhsach-giangvien</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>phong-ctsv-danhsach-giangvien-xoa</servlet-name>
    <servlet-class>controller.phongctsv.PhongCTSVDanhSachGiangVienXoa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>phong-ctsv-danhsach-giangvien-xoa</servlet-name>
    <url-pattern>/phong-ctsv/danhsach-giangvien-xoa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>phong-ctsv-danhsach-giangvien-capnhat</servlet-name>
    <servlet-class>controller.phongctsv.PhongCTSVDanhSachGiangVienCapNhat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>phong-ctsv-danhsach-giangvien-capnhat</servlet-name>
    <url-pattern>/phong-ctsv/danhsach-giangvien-capnhat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>phong-ctsv-danhsach-giangvien-them</servlet-name>
    <servlet-class>controller.phongctsv.PhongCTSVDanhSachGiangVienThem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>phong-ctsv-danhsach-giangvien-them</servlet-name>
    <url-pattern>/phong-ctsv/danhsach-giangvien-them</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ctsv-dulieu</servlet-name>
    <servlet-class>controller.phongctsv.PhongCTSVDuLieu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ctsv-dulieu</servlet-name>
    <url-pattern>/phong-ctsv/du-lieu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ctsv-danhsach-sinhvien</servlet-name>
    <servlet-class>controller.phongctsv.PhongCTSVDanhSachSinhVien</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ctsv-danhsach-sinhvien</servlet-name>
    <url-pattern>/phong-ctsv/danhsach-sinhvien</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ctsv-danhsach-sinhvien-capnhat</servlet-name>
    <servlet-class>controller.phongctsv.PhongCTSVDanhSachSinhVienCapNhat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ctsv-danhsach-sinhvien-capnhat</servlet-name>
    <url-pattern>/phong-ctsv/danhsach-sinhvien-capnhat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ctsv-danhsach-sinhvien-xoa</servlet-name>
    <servlet-class>controller.phongctsv.PhongCTSVDanhSachSinhVienXoa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ctsv-danhsach-sinhvien-xoa</servlet-name>
    <url-pattern>/phong-ctsv/danhsach-sinhvien-xoa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ctsv-danhsach-sinhvien-them</servlet-name>
    <servlet-class>controller.phongctsv.PhongCTSVDanhSachSinhVienthem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ctsv-danhsach-sinhvien-them</servlet-name>
    <url-pattern>/phong-ctsv/danhsach-sinhvien-them</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ctsv-pdf</servlet-name>
    <servlet-class>controller.phongctsv.PCTSVPdfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ctsv-pdf</servlet-name>
    <url-pattern>/phong-ctsv/in-an</url-pattern>
  </servlet-mapping>
</web-app>